.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color:  #61dafb;
  text-align: center;
  margin-bottom: 50px;
}

.intro{

  margin-bottom: 30px;
}


.sub:hover{
  color: #61dafb;
}

.sub{
  font-size: 12px;

}

ul li{
  margin-top:15px;
}

ul{
  padding: 0px 18px;
}

.list{
  display: inline-block;
  margin: 0px 20px;
  vertical-align: top;
}

.subtitle{
  font-size: 22px;
}
